---
import { Icon } from "astro-icon/components";

interface Props {
  stars: number;
}
const { stars } = Astro.props;
---

<div class="relative w-full">
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96 bg-slate-700">
    <div id="slide1" class="flex flex-col gap-4 justify-between">
      <Icon name="account-cowboy" class="h-24 w-full" />
      <p>"Great Service!"</p>
      <Icon name="star" class="h-12 w-full" color="#FFFF00" />
    </div>
    <div id="slide2" class="flex flex-col gap-4 justify-between">
      <Icon name="account-tie" class="h-24 w-full" />
      <p>"Very fast oil change."</p>
      <Icon name="star" class="h-12 w-full" color="#FFFF00" />
      <Icon name="star" class="h-12 w-full" color="#FFFF00" />
    </div>
    <div
      class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
    >
      <a href="#slide1" class="btn btn-circle">
        <Icon name="chevron-left" class="h-12 w-12" color="#000000" />
      </a>
      <a href="#slide2" class="btn btn-circle">
        <Icon name="chevron-right" class="h-12 w-12" color="#000000" />
      </a>
    </div>
  </div>
</div>
